<h2 class="text-center text-decoration-underline">All Recipes</h2>
<p><%= "No recipes added yet" unless !@recipes.size.zero? %></p>

<div class="mt-1 mb-5">
    <% @recipes.each do |recipe| %>
      <div class="d-flex border border m-3 p-3">
        <div class="col-3">
            <%= link_to recipe_path(recipe) do%>
                <h3><%= recipe.name %></h3>
            <% end %>
            <%= button_to "remove", recipe_path(recipe), method: :delete, class: "btn btn-danger" %>
        </div>
        <div class="col-9">
            <ul>
                <% recipe.description.split(/\n/) do |des| %>
                    <li class="list-unstyled">
                        <%= des %>
                    </li>
                <% end %>
            </ul>
        </div>
     </div>
    <% end %>
</div>
