<h2 class="text-center text-decoration-underline"> <%= @recipe.name %></h2>

<div class="d-flex justify-content-between">
    <p>Preparation time: <%= @recipe.preparation_time%><%="Hour".pluralize(@recipe.preparation_time)%></p>
    <div class="d-flex gap-2 align-items-start">
        <p>Public:  </p>
        <label class="switch mt-1">
            <%=check_box_tag("public", value = "1", checked = @recipe.public, disabled: true )%>
            <span class="slider round"></span>
        </label>
    </div>
</div>
<div>
    <p>Cooking time: <%= @recipe.cooking_time%><%="Hour".pluralize(@recipe.cooking_time)%></p>
</div>

<h5 class="text-decoration-underline ps-3">Steps</h5>
<ol>
    <% @recipe.description.split(/\n/) do |des| %>
        <li>
            <%= des %>
        </li>
    <% end %>
</ol>
<div class="d-flex justify-content-between">
    <button class="btn btn-success">Generate shopping list</button>
    <%= link_to new_recipe_recipe_food_path(@recipe), class: "btn btn-success" do %>
        Add ingredient
    <% end %>
</div>
<table class="table table-sm table-bordered table-striped mt-4 mb-3">
  <thead>
    <tr>
      <th scope="col">Food</th>
      <th scope="col">Quantity</th>
      <th scope="col">Value</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
    <tbody>
   <% @recipe_food.each do |rec| %>
    <tr>
      <td><%= rec.food.name %></td>
      <td><%= rec.quantity %> <%= rec.food.measurement %></td>
      <td>$<%= rec.food.price * rec.quantity %></td>
        <td class="last">
         <%= link_to "edit", "/recipes/#{rec.recipe.id}/recipe_foods/#{rec.id}/edit", class: "btn btn-success" %>
         <%= button_to "delete", "/recipes/#{rec.recipe.id}/recipe_foods/#{rec.id}", method: :delete, class: "btn btn-danger" %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

